img {
    width: 50%;
}

#image {
    justify-content: center;
    display: flex;
}

#downloadable {
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: darkcyan;
    margin-bottom: 3%;
    font-weight: bold;
}