.contact_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

}
input {
    margin-top: 0px;
    width: 40%;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    font-family: Arial;
    border-style: none;
    border-radius: 5px;
    background-color:rgb(209, 230, 230);

}
textarea {
    margin: 8px;
    width: 40%;
    height: 150px;
    resize: none;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial;
    border-style: none;
    border-radius: 5px;
    background-color:rgb(209, 230, 230);
}
button {
    background-color:rgb(143, 141, 141);
    color:white;
    margin-top: 5px;
    padding: 8px;
    width: 18%;
    font-size: 15pt;
    border-color: rgb(143, 141, 141);
    border-style: solid;
}